body { font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
footer { background: #f8f9fa; }

form label {
    font-weight: 600;
  }
  
  form .form-control, form .form-select {
    border-radius: 8px;
  }
  .navbar-brand {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
  }
  
  .nav-link.active {
    font-weight: 600;
    color: #0d6efd !important;
  }
  
  footer {
    background: #f8f9fa;
    color: #555;
  }
  
  form input, form select {
    border-radius: 8px;
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  .btn-primary {
    border-radius: 8px;
  }

  .alert {
    border-radius: 8px;
  }
  
  form input {
    border-radius: 8px;
  }
  
  #map {
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #dee2e6;
  }

  .btn-outline-danger {
    border-radius: 8px;
    transition: 0.2s;
  }
  
  .btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
  }
  

  .text-warning {
    color: #ffc107 !important;
}

.text-muted {
    color: #6c757d !important;
}

.border {
    border-radius: 10px !important;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

form .form-control, form .form-select {
    border-radius: 8px;
}
